/*
 Styling for HomePage when CountryCard === 'home'
*/

.countryDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home {
  width: 250px;
  height: 350px;
  box-shadow: 0px 0px 5px 1px rgb(52%, 52%, 52%, 25%);
  border-radius: 10px;
  background-color: white;
  margin: 1rem;
}

.home .flag {
  align-self: flex-start;
  border-radius: 10px 10px 0px 0px;
  width: 250px;
  height: 150px;
}

.home .overview {
  padding-left: 1rem;
}

.home .name {
  font-weight: bold;
  margin-top: 2rem;
}

.home .population {
  padding: 0;
  color: gray;
  display: flex;
  flex-flow: column;
}

/*
 Styling for CountryDetail when CountryCard !== 'home'
*/

.inspectCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 5rem;
  cursor:default;
  position: relative;
  margin-top: 5rem;
}

.inspectCard .flag {
  width: 500px;
  border-radius: 10px;
  margin-left: 3rem;
  height: 350px;
}

.overview {
  align-self: flex-start;
}

span {
  color: gray;
}

.inspectCard .population {
  color: #111517;
  flex-flow: column;
  padding: 0;
}

button {
  padding: .25rem 1rem;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 691px) {
  .inspectCard {
   flex-direction: column;
   margin: auto;
   width: 50%;
   gap: 3rem;
   margin: 5rem 3rem;
  }

  .inspectCard .flag {
    margin: 0;
    width: 320px;
    height: 229px;
  }
}